.mynav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mynav li {
  background: #666;
}
.mynav li a {
  text-decoration: none;
  color: #ddd;
  display: block;
  margin-bottom: 1px;
  padding: 5px;
}
.mainnav {
  margin: 0;
}
.mynav li a:hover {
  background: #444;
}
.mainnav li {
  list-style: none;
  font-weight: normal;
  float: left;
}
.mainnav li a {
  padding: 5px 10px;
  color: #fff;
  background: #666;
  margin-left: 5px;
  text-decoration: none;
}
.mainnav li a:hover {
  background: #fff;
  color: #666;
}
.mytable {
  margin: 20px 10px 10px 80px;
  width: 900px;
}
.mytable tr td {
  text-align: center;
}

table tr th {
  color: #fff;
  background: #666;
  padding: 10px 0px 10px 0px;
}
table tr:nth-child(2n + 1) {
  height: 30px;
  background-color: #fff;
}
table tr:nth-child(2n) {
  height: 30px;

  background-color: #8e8e8edd;
}
